input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 0 8px;
  
}

.wrapper {
  font-family: sans-serif;
  max-width: 1000px;
}

.feed-warning {
    background-color: lightyellow;
    padding: 20px;
    border: 1px solid darkgoldenrod;
    color: darkgoldenrod;
}

.feed-error {
    background-color: pink;
    padding: 20px;
    border: 1px solid red;
    color: red;
}

.header-and-count {
    display: flex;
    gap: 6px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.query-params {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.count-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

.query-param {
    display: flex;
    gap: 6px;
}

.key {
    flex-basis: content;
}
